<ion-view view-title="Dashboard">
<ion-content class="padding">
<h2>select your memo
</h2>
<div class="list list-inset">
<label class="item item-input">
<input id="delkey" placeholder="key" type="text" />
</label><label class="item">
<button class="button" id="delbut">
delete

</button></label></div><div id="target" on-tap="getradio()">
<ion-list>
<ion-radio name="hoge" ng-model="choice" ng-value="'0'">value = 0</ion-radio>
<ion-radio name="hoge" ng-model="choice" ng-value="'1'">value = 1</ion-radio>
<ion-radio name="hoge" ng-model="choice" ng-value="'thomson'">value = thomson</ion-radio>
</ion-list></div><button class="button button-full button-positive" on-tap="setradio()">set a radio
</button>
<button class="button" on-tap="plus()">
plus
</button><button class="button" on-tap="minus()">
minus



</button><button class="button" id="btn12">button12</button>
</ion-content></ion-view>