<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<ion-tab href="#/tab/account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" title="List">
<ion-nav-view name="tab-account">

</ion-nav-view></ion-tab><ion-tab href="#/tab/test" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" title="Edit">
<ion-nav-view name="test">

</ion-nav-view></ion-tab>
<ion-tab href="#/tab/chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" title="View">
<ion-nav-view name="tab-chats">

</ion-nav-view></ion-tab>
<ion-tab href="#/tab/dash" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" title="Status">
<ion-nav-view name="tab-dash">
</ion-nav-view></ion-tab></ion-tabs>