<script type="text/javascript" charset="utf-8" src="components/loader.js"></script>

<ion-view view-title="Test.slim">
<ion-content padding="">
<div class="list list-inset">
<label class="item item-input">
<input id="titled" placeholder="title" type="text" />
</label><label class="item item-input">
<textarea id="memosd" placeholder="input a memo">
</textarea></label></div></ion-content></ion-view><ion-footer-bar align-title="left" class="bar-assertive" keyboard-attach="">
<p>-</p>
<button class="button" id="insert_h2">h2</button>
<button class="button" id="insert_yoko">---</button>
<button class="button" id="insert_list">list</button>
<button class="button" id="insert_hutoi">hutoi</button>
</ion-footer-bar>