<script type="text/javascript" charset="utf-8" src="components/loader.js"></script>

ion-view[view-title="Test.slim"]
  ion-content[padding]
    div[class="list list-inset"]
      label[class="item item-input"]
        input#titled[type="text" placeholder="title"]
      label[class="item item-input"]
        textarea#memosd[placeholder="input a memo"]
ion-footer-bar[align-title="left" keyboard-attach class="bar-assertive"]
  p -
  button#insert_h2.button h2
  button#insert_yoko.button ---
  button#insert_list.button list
  button#insert_hutoi.button hutoi
